{{define "content"}}
ユーザーネーム：{{.Name}}
<div style="margin: 0px 15px; width: 90px; height: 25px; background-color: rgb(0, 153, 255); border-radius: 15px; margin: 0px auto;"><a style=" color: white; text-decoration: none;" href="/trainingLogs/new">ログ作成</a></div>
<hr>
{{range .TrainingLogs}}
<div style="margin: 20px auto; border-bottom: 2px dashed rgb(203, 202, 202); padding-bottom: 20px;">
    <div>{{.CreatedAt}}</div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 140px"><span>満足度：</span>{{.Satisfaction}}</div>
        <div style="width: 140px"><span>天気：</span>{{.Weather}}</div>
    </div>
    <div style="margin: 10px auto;">{{.Content}}</div>
    <div style="display: flex; justify-content: center;">
        <div style="margin: 0px 15px; width: 70px; height: 25px; background-color: rgb(0, 153, 255); border-radius: 15px;"><a style=" color: white; text-decoration: none;" href="/trainingLogs/edit/{{.ID}}">編集</a></div>
        <div style="margin: 0px 15px; width: 70px; height: 25px; background-color: rgb(0, 153, 255); border-radius: 15px;"><a style=" color: white; text-decoration: none;" href="/trainingLogs/delete/{{.ID}}">削除</a></div>
    </div>
</div>
{{end}}
{{end}}